.aboutPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  padding-bottom: 5em;
  .aboutImage {
    max-width: 50%;
    height: auto;
  }
  .aboutInfo {
    max-width: 100%;
    padding-left: 2em;
    text-align: left;
    a {
      text-decoration: none;
      color: #DC8580;
      
      transition: all 0.3s ease;
    
      &:hover {
        color: #e4b1ae;
        
      }
      &.active {
        text-decoration: underline;
        color:#DC8580;
      }
    }
  }
}

.secondSection {
  color: red;
}

@media only screen and (max-width: 1024px) {
  .aboutPage {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .aboutImage {
      max-width: 100%;
      height: auto;
    }
    .aboutInfo {
      max-width: 100%;
      padding-left: 0;
      text-align: center;
    }
  }
}