.workPage {
  display: grid;
  justify-items: center;
  grid-template-columns: 55em;
  grid-template-rows: auto;
  padding-top: 2em;
  padding-bottom: 5em;
  .workImage {
    padding-top: 3em;
    max-width: 100%;
    height: auto;
  }
  .workInfo {
    max-width: 100%;
    padding-left: 2em;
    text-align: left;
    
  }
  .workInfoTwo {
    max-width: 100%;
    text-align: left;
  }
  .fullSection {
    padding-top: 3em;
    max-width: 100%;
  }
}

.secondSection {
  color: red;
}

@media only screen and (max-width: 1024px) {
  .workPage {
    display: grid;
    align-items: center;
    grid-template-columns: 30em;
    grid-template-rows: auto;
    .workImage {
      max-width: 70%;
      height: auto;
    }
    .workInfo {
      max-width: 100%;
      padding-left: 0;
      text-align: left;
    }
    .fullSection {
      max-width: 100%;
      padding-top: 3em;
    }
  }
}