.workPage {
  display: grid;
  justify-items: center;
  grid-template-columns: 55em;
  grid-template-rows: auto;
  padding-top: 2em;
  padding-bottom: 5em;
  .workImage {
    padding-top: 3em;
    max-width: 100%;
    height: auto;
  }
  .workInfo {
    max-width: 100%;
    padding-left: 2em;
    text-align: left;
    
  }
  .workInfoTwo {
    max-width: 100%;
    text-align: left;
  }
  .fullSection {
    padding-top: 3em;
    max-width: 100%;
  }
}

.back {
  padding-top: 2em;
  
  a {
    text-decoration: none;
    color: #DC8580;
    
    transition: all 0.3s ease;
  
    &:hover {
      color: #e4b1ae;
      
    }
    &.active {
      text-decoration: underline;
      color:#DC8580;
    }
  }
}



.secondSection {
  color: red;
}

@media only screen and (max-width: 1024px) {
  .workPage {
    display: grid;
    align-items: center;
    grid-template-columns: 30em;
    grid-template-rows: auto;
    
    .workImage {
      max-width: 70%;
      height: auto;
    }
    .workInfo {
      max-width: 100%;
      text-align: left;
      padding-left: 1em;
    }
    .workInfoTwo {
      max-width: 100%;
      text-align: left;
      padding: 1em;
    }
    .fullSection {
      max-width: 100%;
      padding-top: 3em;
      
    }
  }
}